
$main-color: #000814;


* {
  margin: 0;
  padding: 0;
}

html {
  background-color: $main-color;
  text-align: center;
  overflow: scroll;

  body {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr 1fr 1fr;

    canvas {
      outline: none;
    }

    h2 {
      font-size: 50px;
      font-family: "Playfair Display";
      width: fit-content;
      color: white;
      text-transform: uppercase;
    }
  }
}
